html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    color: #252525;
    text-decoration: none;
}

a:hover, a:focus {
    color: #626262;
    text-decoration: none;
    outline: 0;
}

img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/
    user-drag: none;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section {
    position: relative;
}

.container {
    position: relative;
}

section .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.row {
    z-index: 3;
    position: relative;
}

.separator {
    width: 170px;
    max-width: 170px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.lineSeparator {
    width: 60px;
    max-width: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.preloaderLogo {
    min-width: 100px;
    max-width: 200px;
    width: 100px;
}

.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.sectionIntro h2 span {
    padding: 25px 50px;
    border: solid 10px #282828;
}

.sectionIntro p {
    margin-top: 100px;
}

.container {
    z-index: 2;
    overflow: hidden;
}

/*parallax letters*/

.parallaxLetter {
    position: absolute;
    font-size: 300px;
    color: #F9F9F9;
    z-index: 1;
    width: 200px;
    height: 300px;
}

.letter1 {
    right: 20%;
}

.letter2 {
    left: 20%;
}

.letter3 {
    right: 15%;
}

.letter4 {
    left: 10%;
}

/*buttons*/

.btn {
    background: transparent;
    border-radius: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    padding: 0 40px;
    font-size: 12px;
    letter-spacing: .2em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    outline: 1px solid transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.btn-default {
    display: inline-block;
    color: white;
}

.btn-default:hover {
    border-color: white;
}

.btn:after, .btn:before {
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background: white;
}

.btn:before {
    left: -8px;
}

.btn:hover:before {
    left: 0;
}

.btn:after {
    right: -8px;
}

.btn:hover:after {
    right: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: white;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.btn-black {
    color: #282828;
}

.btn-black:after, .btn-black:before {
    background: #282828;
}

.btn-black:hover {
    color: white;
    background-color: #282828;
    border-color: #282828;
}

/*NAVBAR */

.navbar-default {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}

.affix {
    background-color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-nav>li>a {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d5d5d5;
    letter-spacing: 3px;
    position: relative;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #d5d5d5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #d5d5d5;
}

/*TEXT STYLES*/

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

p.bold {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Intro -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#intro h1, #intro p {
    color: white;
}

.introLogo {
    position: relative;
    width: 160px;
    margin-bottom: 20px;
}

#intro .separator {
    margin-top: 30px;
    margin-bottom: 30px;
}

#intro a {
    margin-top: 20px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Text Separator -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator .container-fluid .col-md-6 {
    padding-left: 50px;
}

#text-separator, #text-separator-clients {
    background-color: #1d1d1d;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}

#text-separator h2, #text-separator-clients h2 {
    color: white;
    z-index: 100;
    position: relative;
}

#text-separator p, #text-separator-clients p {
    color: #e7e7e7;
    z-index: 100;
    position: relative;
}

.textSepLogo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Welcome Separator -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--About -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#about {
    background-color: white;
}

#about .container {
    padding-top: 200px;
}

.aboutIconWrapper {
    position: absolute;
}

.aboutText {
    position: relative;
    padding-left: 50px;
}

.aboutIconWrapper {
    font-size: 80px;
    color: #f5f5f5;
    z-index: 0;
}

.aboutItem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid black;
}

.profile {
    width: 300px;
    max-width: 300px;
    margin-top: 120px;
    margin-bottom: 100px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Portfolio -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.portfolioIntro {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.portfolioIntro h2 span {
    padding: 25px 50px;
    border: solid 10px #ffffff;
}

.portfolioIntro {
    position: relative;
    z-index: 2;
    background: url('img/portfolioIntro.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat, no-repeat;
}

#portfolio .black-overlay {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#portfolio .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ---- isotope ---- */

/* clear fix */

/* 5 columns, percentage width */

/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 3000;
    overflow-y: scroll;
}

/* Effects */

/* magnific popup effect */

/* overlay animate in */

/* overlay animate out */

/* content at start */

/* content animate it */

/* content animate out */

/* end magnific popup effect */

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Team -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--clients logo -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator-clients {
    padding-top: 110px;
    padding-bottom: 110px;
}

#text-separator-clients h3 span {
    padding: 25px 50px;
    border: solid 10px white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
}

.clientLogo img {
    width: 180px;
    margin-top: 15px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Services -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Testimonials -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Pricing Tables -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

/*<!--Contact -->*/

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#contact {
    background: white;
}

label {
    width: 100%;
}

input:focus, textarea:focus {
    outline: 0;
}

label input, textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact_form #name, #contact_form #email, #contact_form #phone {
    height: 50px;
    padding: 10px;
    padding-bottom: 0px;
    border: 0;
    background: transparent;
    border-bottom: 5px solid #282828;
    border-left: 5px solid #282828;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    letter-spacing: 1px;
}

#contact_form #comments {
    height: 200px;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 0;
    border: 0;
    background: transparent;
    border-bottom: 5px solid #282828;
    border-left: 5px solid #282828;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.infoContact {
    list-style: none;
    padding: 20px;
}

.infoContact li {
    padding-left: 20px;
}

.infoContact li .fa {
    margin-right: 6px;
    font-size: 18px;
}

.infoContact li:first-child {
    margin-left: -27px;
}

#contact p.bold {
    padding-top: 30px;
}

.socialContact {
    list-style: none;
    padding: 0;
}

.socialContact li {
    display: inline;
}

.socialContact li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #282828;
    color: white;
    font-size: 1.25em;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.socialContact li a:hover {
    background-color: black;
}

#footer .bottomLine {
    padding: 50px;
    margin: 0 auto;
    background-color: #222222;
}

#footer .bottomLine p {
    color: #a5a5a5;
    font-size: 12px;
}

#footer .container {
    /*multipage only*/
    padding: 0;
}

/*footer newsletter*/

#footer .infoContact {
    list-style: none;
    padding: 10px;
    color: #a5a5a5
}

#footer .infoContact li .fa {
    margin-right: 6px;
    font-size: 40px;
    position: absolute;
    opacity: 0.1;
    left: 0;
}

#footer .infoContact li {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.bottomLine .footerSocialIcons {
    padding: 20px;
}

.footerSocialIcons {
    list-style: none;
}

.footerSocialIcons li {
    display: inline;
    margin: 0 10px;
}

.footerSocialIcons li a {
    color: #a5a5a5;
}

.bottomLine p {
    display: inline;
}

.backToTop a {
    color: white;
}

/*countdown*/

#result h2 {
    letter-spacing: 0;
}

/*/featured works*/

/*pages*/

ul {
    line-height: 24px;
}

/*BLOG SECTION*/

/* ---- isotope ---- */

/* clear fix */

/* ---- .element-item ---- */

/* 5 columns, percentage width */

/*custom owl*/

/*shortcodes */

/*photoswipe*/
